version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
    groups:
      default:
        update-types:
          - 'minor'
          - 'patch'
    commit-message:
      prefix: '[dependabot] '
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'
